db.sqlite3
__pycache__
autenticacion/__pycache__
autenticacion/migrations/__pycache__
perros/__pycache__
perros/migartions/__pycache__
paseadores_cuidadores/__pycache__
paseadores_cuidadores/migrations/__pycache__
ohmydog/__pycache__
ohmydogApp/__pycache__