{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
</head>
<body>
    <p class="titulos-format" > Modificar el email </p>
    <form action="" method="POST" class="formularios"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit"  class="btn btn-primary" value="Enviar">
        <input type="submit" onclick="goBack()" class="btn btn-primary" value="Volver">
        </div>
    </form>

    <script>
        function goBack() {
        window.location.href = "{% url 'mi_perfil' %}";
        }
    </script>

</body>
</html>

{% endblock %}