{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
</head>
<body>
    <h1>Mis Mascotas</h1>
    <a href="{% url 'mi_perfil' %}" style="color: black;">Volver a perfil</a>
    <br>
    <br>
    {% if mascotas %}
        <ul>
            {% for mascota in mascotas %}
                <li><strong>Nombre: </strong>{{ mascota.nombre }}</li>
                <li><strong>Raza: </strong>{{ mascota.raza }}</li>
                <li><strong>Color: </strong>{{ mascota.color }}</li>
                <li><strong>Fecha de Nacimiento: </strong>{{ mascota.fecha_de_nacimiento }}</li>   
                <h4><strong>Libreta sanitaria:</strong></h4>
                        <ul>
                            {% for libretasanitaria in libretas_sanitarias%}
                                {% if libretasanitaria.perro == mascota %}
                                    {% for vacuna in vacunas %}
                                        {% if vacuna.libreta_sanitaria == libretasanitaria %}
                                            <li>{{ vacuna.tipo }} - {{  vacuna.fecha  }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
            {% endfor %}
            <hr>
        </ul>
    {% else %}
        <p> Aún no tenés mascotas registradas </p>
    {% endif %}
</body>
</html>

{% endblock %}