{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
</head>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      let nombre = document.getElementById("id_nombre");
      nombre.value = "{{cliente.nombre}}";
      let apellido = document.getElementById("id_apellido");
      apellido.value = "{{cliente.apellido}}";
      let dni = document.getElementById("id_dni");
      dni.value = "{{cliente.dni}}";
      let telefono = document.getElementById("id_telefono");
      telefono.value = "{{cliente.telefono}}";
    });
  </script>
<body>
    <form action="" method="POST"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>

{% endblock %}