{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros de Cliente</title>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <style>
        hr {
            border: none;
            height: 3px;
            background-color: black;
            margin: 20px 0;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }

        th, td {
            padding: 5px;
            text-align: left;
            border-bottom: 1px solid black;
            font-size: 18px;
        }

        tr:last-child td {
            border-bottom: none;
        }
    </style>
</head>
<body>
    <h1 class="titulos-format"> Perros de {{ cliente.nombre }} {{ cliente.apellido }}</h1>
    <form style="text-align: center;" method="get" action="{% url 'agregar_perro' cliente.dni '?' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="  Agregar Perro  ">
    </form>
    <br>
    {% if mascotas %}
        <ul class="info-list">
            {% for mascota in mascotas %}
                <li><strong>Nombre: </strong>{{ mascota.nombre }}</li>
                <li><strong>Raza: </strong> {{ mascota.raza }} </li>
                <li><strong>Color: </strong> {{ mascota.color }} </li>
                <li><strong>Sexo: </strong>{{ mascota.sexo }}</li>
                <li><strong>Fecha de Nacimiento: </strong> {{ mascota.fecha_de_nacimiento }} </li>
                <form method="POST" action="{% url 'perros_cliente' cliente.dni %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="mascota_id" value="{{ mascota.id }}">
                    <input type="submit"  class="btn btn-primary" value="Borrar Perro" 
                    onclick="return confirm('¿Estás seguro de que deseas borrar esta mascota?')">
                </form>
                <form method="get" action="{% url 'modificar_datos_perro' cliente.dni mascota.id %}"style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Modificar Datos">
                </form>
                <br>
                <br>
                <h4><strong>Libreta sanitaria:</strong></h4>
                <table>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                    </tr>
                    {% for libretasanitaria in libretas_sanitarias %}
                        {% if libretasanitaria.perro == mascota %}
                            {% for vacuna in vacunas %}
                                {% if vacuna.libreta_sanitaria == libretasanitaria %}
                                    <tr>
                                        <td>{{ vacuna.tipo }}</td>
                                        <td>{{ vacuna.fecha }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
       <b><p style="text-align: center;">Aún no posee mascotas registradas.</p>  </b>
    {% endif %}
    
</body>
</html>

{% endblock %}