{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <style> 
        select {
            word-wrap: normal;
        }
        select {
            text-transform: none;
        }
        select {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
    </style>
</head>
<body> 
    <h1 class="titulos-format"> Enviar solicitud </h1>
    {% if perros %}
      <div style="text-align:center">
        <b> Seleccione su perro, que se cruzara con {{nombre}} </b>
        <br>
        <form method="post" action="{% url 'enviar_solicitud_cruce' nombre autor sexo perro_id %}" >
            {% csrf_token %}
            <select name="perro" class="select form-control" style= "width: 25%; margin: auto;">
              {% for perro in perros %}
                <option value="{{ perro.perro.id }}">{{ perro.perro.nombre }}</option>
              {% endfor %}
            </select>
            <br>
            <div> 
              <input type="submit" style="display: inline;"  class="btn btn-primary" value="Enviar">
            </div>
          </form>
          <div style="margin-top: 10px; text-align: center">
            <button class="btn btn-primary"><a href="{% url 'ver_perro' perro_id '-1' %}" style="color: #fff; display: inline-block;">Volver</a></button>
        </div>
      </div>
      
    {% else %} 
      <p style="text-align:center"><b>No tienes perros disponibles para publicar</b></p>
    {% endif %}

</body>
</html>


{% endblock %}