{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar paseador o cuidador</title>
</head>
<body>
    <h1>
        Agregar un paseador o cuidador.
    </h1>
    <form action="" method="POST"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>

{% endblock %}