{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    <title>Agregar paseador o cuidador</title>
</head>
<body>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <h1 class="titulos-format">
        Agregar paseadores/cuidadores
    </h1>
    <br>
    <form action="" method="POST" class="formularios"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit"   class="btn btn-primary" value="Enviar">
        <input type="submit" onclick="window.history.back()" class="btn btn-primary" value="Volver">
        </div>
    </form>

</body>
</html>

{% endblock %}