{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    <title>Paseadores - Cuidadores</title>
    <style>
        .info-list {
        list-style: disc;
        padding: 0;
        margin-left:25px;
    }

    .info-list li {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .info-list li strong {
        font-weight: bold;
        margin-right: 10px;
    }

    .info-list li span {
        display: inline-block;
        margin-left: 10px;
        color: #555555;
    }
    hr {
        border: none;
        height: 3px;
        background-color: black;
        margin: 20px 0;
    }
    </style>
</head>
<body>
    <h1 class="titulos-format">Paseadores - Cuidadores</h1>
    {% if user.is_authenticated and user.is_superuser %}
    <form class='agregar' method="get" action="{% url 'agregar_paseador_cuidador' %}" style="text-align: center;">
        {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Agregar Paseador/Cuidador">
    </form>
    {% endif %}
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <form style="text-align: center;" action="{% url 'listar_paseadores_cuidadores' %}" method="get">
        <input type="radio" name="tipo" value="Paseador"> Paseador
        <input type="radio" name="tipo" value="Cuidador"> Cuidador
        <button class="btn btn-primary" type="submit">Filtrar</button>
        <br>
        <br>
        {% if filtrado %} 
            <b> <p style="text-align: center;">Estas filtrando por: {{filtrado}}</p></b>
            <input type="submit"  class="btn btn-primary" href="{% url 'listar_paseadores_cuidadores' %}" value="Deshacer">
        {% endif %}
        <br>
        <br>
    </form>
    {% if paseadores_cuidadores %}
        <ul class="info-list">
            {% for paseador_cuidador in paseadores_cuidadores %}
                <li><strong>Nombre y Apellido: </strong>{{ paseador_cuidador.nomyap}}</li>
                <li><strong>Email: </strong>{{ paseador_cuidador.email }}</li>
                <li><strong>Descripcion: </strong>{{ paseador_cuidador.textolibre }}</li>
                <li><strong>Paseador o Cuidador: </strong>{{ paseador_cuidador.tipo }}</li>
                {% if user.is_authenticated and user.is_superuser %}
                    <form method="get" action="{% url 'modificar_paseador_cuidador' paseador_cuidador.email paseador_cuidador.tipo %}"  style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Modificar">
                    </form>
                    <form method="POST" action="{% url 'listar_paseadores_cuidadores' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="paseador_cuidador.email" value="{{ paseador_cuidador.email }}">
                        <input type="submit" class="btn btn-primary" value="Borrar" onclick="return confirm('¿Estás seguro de que deseas borrar este Paseador o Cuidador?')">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    {% else %}
      <b><p style="text-align: center;">Aún no hay paseadores o cuidadores registrados</p></b>
    {% endif %}
    <br>
</body>
</html>

{% endblock %}