{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    <title>Paseadores - Cuidadores</title>
</head>
<body>
    <h1>Paseadores - Cuidadores</h1>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <br>
    <br>
    <form action="{% url 'listar_paseadores_cuidadores' %}" method="get">
        <input type="radio" name="tipo" value="P"> Paseador
        <input type="radio" name="tipo" value="C"> Cuidador
        <button type="submit">Filtrar</button>
        <input type="submit" href="{% url 'listar_paseadores_cuidadores' %}" value="Deshacer">
    </form>
    {% if paseadores_cuidadores %}
        <ul>
            {% for paseador_cuidador in paseadores_cuidadores %}
                <li><strong>Nombre y Apellido: </strong>{{ paseador_cuidador.nomyap}}</li>
                <li><strong>DNI: </strong>{{ paseador_cuidador.dni }}</li>
                <li><strong>Descripcion: </strong>{{ paseador_cuidador.textolibre }}</li>
                <li><strong>Paseador o Cuidador: </strong>{{ paseador_cuidador.tipo }}</li>
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'modificar_paseador_cuidador' paseador_cuidador.dni %}">Modificar</a>
                    <form method="POST" action="{% url 'listar_paseadores_cuidadores' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="paseador_cuidador.dni" value="{{ paseador_cuidador.dni }}">
                        <input type="submit" value="Borrar" onclick="return confirm('¿Estás seguro de que deseas borrar este Paseador o Cuidador?')">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
            <hr>
        </ul>
    {% else %}
        <p> Aún no hay paseadores o cuidadores registrados </p>
    {% endif %}
    <br>
    {% if user.is_authenticated and user.is_superuser %}
        <a class="nav-link" href="{% url 'agregar_paseador_cuidador' %}">Agregar paseador o cuidador</a>
    {% endif %}
</body>
</html>

{% endblock %}