{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagar con Tarjeta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#id_fecha_vencimiento').on('input', function() {
          var val = $(this).val();
          if (val.length === 2 && val.indexOf('/') === -1) {
            $(this).val(val + '/');
          }
        });
      });
    </script>
</head>
<body> 
    <p class="titulos-format"> Pagar con Tarjeta </p>
    <!--<form action="" class="formularios" method="POST"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit"  class="btn btn-primary" value="Publicar Perro">
        </div>
    </form>-->
    
  <form method="post" action="{% url 'pagar con tarjeta' monto %}">
    {% csrf_token %}
    <label for="id_nombre_titular">Nombre del Titular:</label>
    <input type="text" name="nombre_titular" id="id_nombre_titular" required>

    <br>

    <label for="id_numero_tarjeta">Número de Tarjeta:</label>
    <input type="text" name="numero_tarjeta" id="id_numero_tarjeta" required>

    <br>

    <label for="id_fecha_vencimiento">Fecha de Vencimiento:</label>
    <input type="text" name="fecha_vencimiento" id="id_fecha_vencimiento" pattern="\d{2}/\d{4}" required>

    <br>

    <label for="id_codigo_seguridad">Código de Seguridad:</label>
    <input type="text" name="codigo_seguridad" id="id_codigo_seguridad" required>

    <br>

    <input type="submit" value="Pagar">

  </form>
</body>
</html>


{% endblock %}