{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        hr {
            border: none;
            height: 3px;
            background-color: black;
            margin: 20px 0;
        }
    </style>
</head>
<body> 
    <h1 class="titulos-format">Donaciones a campañas</h1>
    <form method="GET" action="{% url 'donaciones_campana' %}" style="text-align:center; margin-right:50px;">
        <select name="campana">
          <option value=""></option>
          {% for campaña in campanas %}
              <option value="{{ campaña.id }}">{{ campaña.nombre }}</option>
          {% endfor %}
        </select>
        <input type="submit"  class="btn btn-primary" value="Filtrar">
    </form>
    {% if filtrado %}      
        <b><p style="text-align: center; margin-right:50px; ">Viendo: {{ filtrado}}</p></b>
        <form style="position:absolute; left:730px; top:214px" class="formularios" method="GET" action="{% url 'donaciones_campana' %}">
            <input type="submit"  class="btn btn-primary" value="Deshacer">
        </form>
    {% endif %}
    <ul class="info-list">
        {% if donaciones %} 
            {% for donacion in donaciones %} 
                <li><strong>Campaña: </strong>{{donacion.campana.nombre}}</li>
                <li><strong>Monto donado: </strong>{{donacion.monto}}</li>
                {% if donacion.nombre != 'Zz' %}
                    <li><strong>Realizado por: </strong>{{ donacion.nombre }}</li>
                {% else %} 
                    <li><strong>Realizado por: </strong>Donacion anonima</li>  
                {% endif %}
                <hr>
            {% endfor %} 
    </ul>
        {% else %}
                <b><p style="text-align: center;">Aun no se han realizado donaciones</p></b>
        {% endif %}
</body>
</html>


{% endblock %}