<html>

<head>

   {% load static %}
   
   <title>Oh My Dog</title>
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{% static 'css/style.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
   integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
   crossorigin="anonymous">
   <style>
    b::after {
    content: "|";
    margin: 0 5px;
    color: black;
    }
   </style>
   
</head>

<body style="background-color: rgba(255, 204, 153, 1);"> 

    <div class="top-bar">
        <div class="logo-container">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" href="{% url 'home' %}">
        </div>
        <div class="button-container">
            {% if user.is_authenticated %}
                &nbsp;&nbsp; <b><a href="{% url 'cerrar_sesion' %}" style="color: black;">Cerrar sesión</a> </b>
            {% else %}
                <a href="{% url 'login' %}" class="login-button" style="color: black">Iniciar Sesión</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="{% url 'registro' %}" class="register-button">Registrar usuario</a>
            {% endif %}
        </div>
    </div>
    


    <nav class="navbar navbar-expand-lg navbar-dark bg-celeste">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'turnos_veterinario' %}">Turnos</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'turnos_cliente' %}">Turnos</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'perros_en_adopcion' %}">Adopcion</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'listar_paseadores_cuidadores' %}">Paseadores y cuidadores</a></li>
                    {% if not user.is_superuser and user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'mi_perfil' %}">Mi perfil</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'listado_de_clientes'%}">Clientes</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    
    
    {% block content %}

    {% endblock %}

    <footer class="footer text-faded text-center py-5">
        <div class="container">
          <p class="m-0 mbt">
            <b> 
              <a href="#" style="color: black" class="link">Ubicacion</a> ·
              <a href="#" style="color: black"  class="link">Redes Sociales</a>
            </b>
          </p>
          <p class="m-0 mbt1">&copy; Oh My Dog 2023</p>
        </div>
      </footer>
    
</body>

</html>
