<html>

<head>

   {% load static %}
   
   <title>Oh My Dog</title>
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body style="background-color: rgba(255, 204, 153, 1);"> 
    <div style="text-align: right; margin-right: 100px; color: black;">

        {% if user.is_authenticated %}

        Sesión Iniciada &nbsp;&nbsp;<a href="{% url 'cerrar_sesion' %}" style="color: black;">Cerrar sesión</a>

        {% else %}

        <a href="{% url 'login' %}" style="color: black;">Iniciar Sesión</a> 

        {% endif %}

        {% if user.is_superuser %}

        <a href="{% url 'registro' %}" style="color: black;">Registrar usuario</a>

        {% endif %}

    
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img src= "{% static 'img/logo.png' %}"  width = 100px height = "auto" style="margin-left: -100px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Solicitar turno</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Adopcion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Perros perdidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'listar_paseadores_cuidadores' %}">Paseadores y cuidadores</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'mi_perfil' %}">Mi perfil</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}

    {% endblock %}
</body>

</html>
