<html>

<head>

   {% load static %}
   
   <title>Oh My Dog</title>
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{% static 'css/style.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
   integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
   crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.4.0-web/css/all.min.css' %}">
   <style>
        .social-icons {
            margin-bottom: 20px;
        }

        .social-icon {
            display: inline-block;
            margin-right: 15px;
            font-size: 28px;
            color: black;
        }

        @media (max-width: 768px) {
            .social-icon {
                font-size: 24px;
            }
        }
        .campañaa {
            display: flex;
            justify-content: center;
            align-items: center;
        }
   </style>
</head>

<body style="background-color: rgba(255, 204, 153, 1);">
    <div class="button-container" style="position:absolute;right:35px">
        {% if user.is_authenticated %}
            <b>Hola, {{ user.nombre }}!</b>
            {% if user.is_superuser %}
                <b> (admin)</b>
            {% endif %}
            &nbsp;&nbsp; <b><a href="{% url 'cerrar_sesion' %}" style="color: black;">Cerrar sesión</a> </b>

        {% else %}
        <b> <a href="{% url 'login' %}" class="login-button" style="color: black">Iniciar Sesión</a> </b>
        {% endif %}
        {% if user.is_superuser %}
        <b> <a href="{% url 'registro' %}" class="register-button">Registrar usuario</a></b>
        {% endif %}
    </div>
        
    
        <div class="top-bar" style="margin-right:95px;">
            <div style="    display: flex;">
                <a href="{% url 'home' %}"><img style="width: 100px;
                    height: auto;" src="{% static 'img/logo.png' %}" alt="logo"></a>
            </div>
            <div style="background-color: #de8832;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin: 0 auto;
            max-width: 800px;"> 
                {% if campana is None and user.is_superuser %}
                    <div>
                        <a href="{% url 'agregar_campana' %}">
                            <h3>Agregar Campaña</h3>
                        </a>
                    </div>
                {% elif campana is not None %} 
                    {% if not campana.finalizada %}
                    <div style=>
                        <a href="{% url 'ver_campana' %}">
                            <h3>Donele a: {{ campana.nombre }}</h3>
                        </a>
                    </div>
                    {% elif user.is_superuser %}
                    <div>
                        <a href="{% url 'agregar_campana' %}">
                            <h3>Agregar Campaña</h3>
                        </a>
                    </div>
                    {% endif %} 
                {% endif %}
            </div>

        </div>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-celeste">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'turnos_veterinario' %}">Turnos</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'turnos_cliente' %}">Turnos</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'perros_en_adopcion' %}">Adopcion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'listar_paseadores_cuidadores' %}">Paseadores y cuidadores</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'ver_perros_cruza' %}">Cruce de perros</a></li>
                        {% endif %}
                        {% if not user.is_superuser and user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'mi_perfil' %}">Mi perfil</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'ver_donaciones' %}">Donaciones</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'listado_de_clientes'%}">Clientes</a></li>
                        {% endif %}
                        {% if not user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'realizar_donacion' 'Veterinaria' %}" style="color:antiquewhite"><b>DONAR A OHMYDOG!</b></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
  
        {% block content %}
    
        {% endblock %}

        <footer class="footer text-faded text-center py-5">
        <div class="container">
          <div class="social-icons">
                <b>
                    <a href="{{ facebook }}" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ twitter  }}" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="{{ instagram }}" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:{{ mail }}" class="social-icon"><i class="fas fa-envelope"></i></a>
                </b>
          </div>  
          <p class="m-0 mbt">
            <b> 
              <a href="#" style="color: black" class="link">Ubicacion</a> ·
              <a href="{% url 'contactos' %}" style="color: black"  class="link">Contacto</a>
            </b>
          </p>
          <p class="m-0 mbt1">&copy; Oh My Dog 2023</p>
        </div>
    </footer>
    
</body>

</html>
