{% extends base.html %}

{% load static %}
{% load cryspy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar ubicación.</title>
</head>
<body>
    <h1 class="titulos-format">Editar ubicación.</h1>
    <form action="" method="POST" class="formularios"> {% csrf_token %}
        <div style= "width: 75%; margin: auto;"> 
            {{form|crispy}}
        <input type="submit"  class="btn btn-primary" value="Enviar">
        <button onclick="window.history.back()" class="btn btn-primary">Volver</button>
        </div>
    </form>
</body>
</html>

{% endblock %}