{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzEfxKFQm-GzyEUMagq1ocnI7TEih4XUY"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% for msg in messages %}
<script>
    swal('{{msg}}');
</script>
{% endfor %}
<script>
    let map;

    function initMap(veterinarias) {
        console.log(veterinarias)
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.92145, lng: -57.95453 },
            zoom: 12,
        });

        if (veterinarias !== undefined) {
            for (const veterinaria of veterinarias) {
            
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(veterinaria.latitud), lng: parseFloat(veterinaria.longitud) },
                map: map,
                title: veterinaria.nombre
            });

            const contentString = "<h6>"+veterinaria.nombre+"</h6>"+"<br>"+"<p>"+veterinaria.calle+", "+veterinaria.nro_calle+", "+veterinaria.detalle+"</p>"

            const infoWindow = new google.maps.InfoWindow({
                content: contentString,
                ariaLabel: "Información",
            });

            marker.addListener("click", () => {
            infoWindow.open(map, marker);
            });
            }
            
        }
    }
</script>
<style>
    hr {
        border: none;
        height: 3px;
        background-color: black;
        margin: 20px 0;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid black;
        font-size: 18px;
    }

    tr:last-child td {
        border-bottom: none;
    }
    #map {
        max-width: 800px;
        margin: 0 auto;
        height: 400px;
    }

    /** 
    * Optional: Makes the sample page fill the window. 
    */

    h2{
        margin-top: 0;
    }

    .info-window-content{
        padding: 8px;
    }
</style>
    
</head>
<body>
    {% if user.is_superuser %} 
        <h1 class="titulos-format">Turnos del día:</h1>
        {% if turnos %}
            <table id="tabla">
                <tr>
                    <th>Cliente</th>
                    <th>Hora</th>
                    <th>Motivo</th>
                    <th>Asistió</th>
                    <th>No Asistió</th>
                </tr>
                <ul> 
                {% for turno in turnos %}
                    {% if turno.cliente_asistio is None %}
                        <tr>
                            <td>{{ turno.cliente.nombre }} {{ turno.cliente.apellido }}</td>
                            <td>{{ turno.hora }} </td>
                            <td>{{ turno.motivo }}</td>
                            <td> <form method="post" action="{% url 'confirmar_asistencia' turno.id 'true' %}"> {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Asistió">
                            </form></td>
                            <td> <form method="post" action="{% url 'confirmar_asistencia' turno.id 'false' %}"> {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="No asistió">
                            </form></td>
                        </tr>
                        <br>
                    {% endif %}
                {% endfor %}
                </ul>
            </table>
        {% endif %}
        {% if not turnos %}
            <script>
                // Obtén una referencia al elemento <table> que deseas eliminar
                var table = document.querySelector('tabla');

                // Verifica si el elemento <table> existe
                if (tabla) {
                // Elimina el elemento <table> de su padre (por ejemplo, un div)
                tabla.parentNode.removeChild(tabla);
                }
            </script>
            <img src= "{% static 'img/perrotriste.png' %}" width="200px" style="display: block; margin-left: auto; margin-right: auto;">
            <p style="
            font-size: 25px; text-align:center"> <b>No hay turnos para hoy</b></p>   
            <br> 
        {% endif %}
        {% if pendientes %}
            <br>
            <p style="
            font-size: 25px; text-align:center"> <b>Hay turnos pendientes</b> </p>    
        {% endif %}          
    {% else %}
        <h1 class="titulos-format">Bienvenido a nuestra veterinaria</h1>
        <hr>
        <p style="font-size: 25px;
        text-align: center; ">Donde el cuidado y bienestar de tus mascotas es nuestra prioridad. Aquí podrás solicitar turnos, adoptar perros, encontrar paseadores y cuidadores de confianza, y disfrutar de nuestro servicio de cruza de perros responsable. Nuestro equipo está listo para brindarles la mejor atención y amor a tus queridos compañeros peludos. ¡Únete a nuestra familia y descubre todo lo que podemos hacer juntos por ellos!</p>
        <img src= "{% static 'img/feliz.png' %}" width="200px" style="display: block; margin-left: auto; margin-right: auto;" > 
        <hr style="margin-top: 30px;
        margin-bottom: 30px;
        border: 0;
        border-top: 2px solid black;">
    {% endif %}
    <br>
    
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script>
        window.onload = function() {
          var veterinarias = {{ veterinarias|safe }};
          initMap(veterinarias);
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5fzRrz8Xx_6BMMpCr5cyGxFZ92u22lnQ&callback=initMap&v=weekly" defer></script>
</body>
</html>

{% endblock %}