
{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Turno</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
</head>
<body>
    <h1 class="titulos-format">
        Solicitar un turno.
    </h1>
    <form style="text-align: center;" action="" method="POST"> {% csrf_token %}
        <div style="width: 75%; margin: auto;">
            <label for="{{ form.perro.id_for_label }}">Perro: </label>
            {{ form.perro }}
        </div>
        <div style="width: 75%; margin: auto;">
            <label for="{{ form.fecha.id_for_label }}">Fecha: </label>
            {{ form.fecha }}
        </div>
        <div style="width: 75%; margin: auto;">
            <label for="{{ form.hora.id_for_label }}">Hora: </label>
            {{ form.hora }}
        </div>
        <div style="width: 75%; margin: auto;">
            <label for="{{ form.motivo.id_for_label }}">Motivo: </label>
            {{ form.motivo }}
        </div>
        <button type="submit" class="btn btn-primary">Solicitar turno</button>
        <input type="submit" onclick="goBack()" class="btn btn-primary" value="Volver">
    </form>

    <script>
        function goBack() {
          window.location.href = "{% url 'turnos_cliente' %}";
        }
      </script>
    
</body>
</html>

{% endblock %}