{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos de cliente</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
</head>
<body>
    <h1 class="titulos-format">Turnos: </h1>
    <form method="get" action="{% url 'turnos_cliente' %}" style="text-align: center;">
        <label for="fecha_filtro">Filtrar por estado:</label>
        <select id="fecha_filtro" name="fecha">
            <option value=""></option>
            <option value="pasado">Pasados</option>
            <option value="futuro">Futuros</option>
        </select>
        <button type="submit" class="btn btn-primary">Filtrar</button> 
        <input type="submit" class="btn btn-primary" href="{% url 'turnos_veterinario' %}" value="Deshacer">
      </form>  
      <form method="get" action="{% url 'solicitar_turno' %}" style="text-align: center;">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Solicitar Turno">
    </form>
    {% for turno in turnos %} 
    <ul class="info-list"> 
        <li><strong> Fecha: </strong>{{ turno.fecha }}</li> 
        <li><strong> Hora: </strong>{{ turno.hora }}</li> 
        <li><strong> Perro: </strong>{{ turno.perro.nombre }}</li>
        <li><strong> Motivo: </strong>{{ turno.motivo }}</li>
        <li><strong> Estado: </strong>{{ turno.estado }}</li>
        {% if turno.estado == "modificado" %} 
        <form method="get" action="{% url 'ver_turno_cliente' turno.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Aceptar/Rechazar Modificación">
        </form>
        {% endif %}
        <hr>
    </ul>
        <br>
    {% empty %}
        <p>No tienes turnos</p>
    {% endfor %}
    
</body>
</html>

{% endblock %}