{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos de veterinario</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    {% for msg in messages %}
    <script>
        swal('{{msg}}');
    </script>
    {% endfor %}
    <style>
            hr {
        border: none;
        height: 3px;
        background-color: black;
        margin: 20px 0;
    }

    </style>
</head>
<body>
    <h1 class="titulos-format">Turnos: </h1>
    <form method="get" action="{% url 'turnos_veterinario' %}" style="text-align: center;">
        <label for="estado_filtro">Filtrar por estado:</label>
        <select id="estado_filtro" name="estado">
            <option value=""></option>
            <option value="aceptado">Aceptados</option>
            <option value="rechazado">Rechazados</option>
            <option value="pendiente">Pendientes</option>
            <option value="modificado">Modificados</option>
        </select>
        <button class="btn btn-primary" type="submit">Filtrar</button> 
        <input type="submit" class="btn btn-primary" href="{% url 'turnos_veterinario' %}" value="Deshacer">
      </form>  
    {% for turno in turnos %} 
    <ul class="info-list">
        <li><strong> Cliente: </strong>{{ turno.cliente }}</li> 
        <li><strong> Fecha: </strong>{{ turno.fecha }}</li> 
        <li><strong> Hora: </strong>{{ turno.hora }}</li> 
        <li><strong> Motivo: </strong>{{ turno.motivo }}</li>
        <li><strong> Estado: </strong>{{ turno.estado }}</li> 
        {% if turno.cliente_asistio is None %} 
            <li><strong> Asistio: </strong> -- </li>   
        {% else %}
            {% if turno.cliente_asistio %}
                <li><strong> Asistio: </strong> Si </li> 
            {% else %}
                <li><strong> Asistio: </strong> No </li>   
            {% endif %} 
        {% endif %}
        <hr>
    </ul>
        <br>
        {% if turno.estado == "pendiente" %} 
        <form method="get" action="{% url 'ver_turno_veterinario' turno.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Ver turno">
        </form>
        {% endif %}
    {% empty %}
        <b> <p style="text-align: center; font-size:larger">No se encontraron turnos</p> </b>
    {% endfor %}
</body>
</html>

{% endblock %}